a {
    text-decoration: none !important;
}

.black-text {
    display: block;
    color: black;
    padding: .5rem 1rem;
}

.black-text:hover {
    color: #5f98d4;
    cursor: pointer;
}

.marker {
    height: 25px;
    border-left: 4px solid #0d6efd;
    position: absolute;
    left: 0px;
    margin-left: 10px;
}

.active {
    font-weight: 700;
}