.song-item-no-video {
    background-color: #f7f7f7;
    display: block;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.song-item-no-video:hover {
    background-color: #ffffff;
}

.song-item-video-showing{
    background-color: #ffffff;
    display: block;
    width: 815px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 15px 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.song-item-video-showing:hover {
    background-color: #ffffff;
}

.artist-name {
    margin-bottom: 0;
    text-align: center;
}

.card-content {
    display: flex;
}

.album-art {
    width: 150px;
    text-align: center;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

.track-list {
    width: 100%;
    padding-left: 5px;
}

.tags {
    text-align: center;
    margin-top: 5px;
    border-top: 2px solid #d2d6d6;
}