.filter-options {
    margin-bottom: .3em;
}

.last-button {
    margin-right: 3em;
}

p {
    margin: 0;
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
    vertical-align: text-top;
}

li {
    margin-left: 40px;
}