p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.track-title-ellipsis {
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-title-longer {
    width: 635px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.track-title-ellipsis:hover {
    white-space: normal;
    overflow: visible;
}

.badges {
    margin-bottom: .3em;
}

.last-button {
    margin-right: 3em;
}

.cursor-pointer {
    cursor: pointer;
    vertical-align: text-top;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}