p {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 40px;
}

.filter-options {
    margin-bottom: .3em;
}

.last-button {
    margin-right: 3em;
}

.cursor-pointer {
    cursor: pointer;
    vertical-align: text-top;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%
}

.react-player {
    position: absolute;
    top: 0;
    left: -40px;
}