.month {
    margin-left: 20px;
}

.nav-bar {
    background-color: #f7f7f7;
    height: 100vh;
    min-width: 176px;
    display: block;
    overflow-y: auto;
    position: fixed;
}

.filters {
    background-color: #f7f7f7;
    height: 100vh;
    padding: 16px;
    position: fixed;
}