// https://create-react-app.dev/docs/adding-bootstrap/
// https://github.com/twbs/bootstrap/blob/f989f8fb3ae581e9814095f625b53df4cfa23e8a/scss/_variables.scss

// Override default variables before the import
$btn-border-radius: 2rem !important;
$btn-padding-y: .225rem;
$btn-padding-x: .55rem;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';